body{
  display: flex;
  flex-direction: column;  
  align-items: center;     
  justify-content: center; 
  margin: 0;               
  text-align: center;   
}

h1{
    font-size: 36px;
    background-color: green;
}